.homebtn-container {
    border-radius: 10px;
    width: 40%;
    height: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    transition: .8s;
    cursor: pointer;
    text-align: center;
}

.homebtn-container:hover {
    background: hsl(0, 0%, 12%);
}

.home-icon {
    font-size: 30px;
}

.home-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .homebtn-container {
        padding: 10px;
    }
    .home-icon {
        font-size: 15px;
    }
    .home-title {
        display: none;
    }
}