.sidebar-container {
    z-index: 50;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    height: 100%;
    transition: 1s;
    user-select: none;
}
.hide {
    transform: translateX(-95%);
}

.arrow-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 1.5s;
}
.arrow-normal {
    transform: translate(-50%, -50%);
}
.arrow-reverse {
    transform: rotate(-180deg) translate(50%, 50%);
}

.sidebar-content-top {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 800px) {
    .hide {
        transform: translateX(-100%);
    }
}
@media (max-width: 600px) {
    .hide {
        transform: translateX(-105%);
    }
}