* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: hsl(0, 0%, 17.5%);
    overflow: hidden;
    height: 100vh;
}

:root {
    --test_border_1: 2px solid black;
    --test_border_2: 2px solid white;
    --test_border_3: 2px solid orange;
    --test_border_4: 2px solid yellow;
    --test_border_5: 2px solid blue;

    --test_border_1_lg: 5px solid black;
    --test_border_2_lg: 5px solid white;
    --test_border_3_lg: 5px solid orange;
    --test_border_4_lg: 5px solid yellow;
    --test_border_5_lg: 5px solid blue;
}