.userbtn-container {
    border-radius: 10px;
    padding: 13px;
    width: 40%;
    height: 60%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    transition: .8s;
    cursor: pointer;
    text-align: center;
}

.userbtn-container:hover {
    background: hsl(0, 0%, 12%);
}

.user-icon {
    font-size: 30px;
}

.user-title {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .userbtn-container {
        padding: 12.5px;
    }
    .user-icon {
        font-size: 15px;
    }
    .user-title {
        display: none;
    }
}